.subscribe-page-main-div{
    background-color: #F7F6FD;
}
input{
    width: 60%;
    border: 1px solid #E0E0E0;
    outline: 0;
    padding: 12px;
    margin-bottom: 2%;
    height: 6vh;

}
.form-heading{
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
}
.form-sub-heading{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
}
select{
    width: 60%;
    border: 1px solid #E0E0E0;
    outline: 0;
    padding: 12px;
    margin-bottom: 2%;
    height: 6vh;
}
/* h3 {
    font-size: 30px;
}
p{
    margin-bottom: 2%;
} */
h3 span{
    color: #5F259F;
}
/* .form-main-div{
    margin: 6% 8% 3% 2%;
    
} */
.info-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10%;
   

    
}
.info-text-paragraph{
    padding-left: 15px;
    font-size: 13px;
    font-weight: 400;
}
.info-text-paragraph > span{
    color: #5F259F;
}
.form-footer-intro{
    margin-left: 10%;
    padding-bottom: 2%;
    font-size: 14px;
   
}
.info{
    display: flex;
    padding-bottom: 4%;
}
.info-right span{
    font-weight: 700;
}
.form-main-div{
    padding: 7% 10%;
    
}