.header-main-div{
    background-color: white;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 2%;
    margin-bottom: 20px;
    /* padding: 2% 0.5% 0 1%; */
}
.logo{
    
}
.menu-link{
   text-decoration: none;
   color: black;
   display: block;
  
    
}
.nav-links{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    width: 40%;
    font-size: 18px;
}
.nav-links > li{
    list-style-type: none;
    
}
.header-buttons{
 
    width: 40%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: flex;
    justify-content: space-evenly;
    width: 400px; */
    
}
.join-btn{
    /* width: 30%; */
}
