.landing-top-main-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: gainsboro; */
    color: black;
    padding-top: 5%;
    /* margin-top: 60px; */
    
    width: 100%;
   
    /* height: 80vh; */
}

.right-side-div{
    padding-top: 10px;
    background: url('../../assets/images/map.svg') ;
    background-repeat: no-repeat;
    background-size: center/cover;
    width: 651px;
    position: relative;
    /* max-width: 30%; */
}
.image1,.image2{
    position: absolute;
}
.image1 {
    padding-top: 20px;
    top: 0;
    left: 0;
}
.image2 {
    top: 50%;
    left: 60%; 
  }
.left-side-div{
    background-color: white;
    color: black;
    margin-left: 10%;
    padding-bottom: 7%;
}
.prominent-text{
    color: black;
    padding-bottom: 0;
    padding-left: 0;
    font-weight: 600;
    font-size: 60px;
    line-height: 72.61px;
}
.left-side-div > .topmost > p{
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    padding-top: 2%;
    padding-bottom: 4.5%;
    width: auto;
}
.p-with-color{
    font-weight: 700;
    color:  #5F259F;
    font-size: 24px;
}
.lower-part > h2{
    font-weight: 600;
    font-size: 40px;
}
.lower-part > p{
    font-size: 16px;
    font-weight: 400;
}


.input-div{
   width: 70%;
   /* padding-bottom: 10px; */
}